@model CompetitieViewModel
@{
    ViewData["Title"] = "Index";
}
<body>

<h1>competitties</h1>

<table>
    <tr>
        <th>
            naam
        </th>
        <th></th>
    </tr>

    @foreach (var item in @Model.competities)
    {
        <tr>
            <td>
               @item[1].ToString()
            </td>
        </tr>
    }
    </table>
</body>