
@{
    ViewData["Title"] = "Index";
}
    <body>

        <h1>inloggen</h1>

        <table>
            <tr>
                <td>
                    <input id="gebruikersnaam" type="text" placeholder="Gebruikersnaam">
                </td>
                <td>
                    <input id="wachtwoord" type="password" placeholder="Wachtwoord">
                </td>
            </tr>
            <tr>
                <td>
                    <Button value="Inloggen" type="submit" ID="Inloggen">inloggen</Button>
                </td>
            </tr>
        </table>
    </body>