@model GebruikerViewModel
@{
    ViewData["Title"] = "Index";
}
    <body>

        <h1>inloggen</h1>
        <form method="post">

        <table>
            <tr>
                <td>
                    <input id="gebruikersnaam" type="text" placeholder="Gebruikersnaam">
                </td>
                <td>
                    <input id="wachtwoord" type="password" placeholder="Wachtwoord">
                </td>
            </tr>
            <tr>
                <td>
                    <input onclick="location.href='@Url.Action("Inloggen", "Gebruiker")'" value="Inloggen" type="submit" ID="Inloggen"/>
                </td>
            </tr>
        </table>
        </form>
    </body>